@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pathway Gothic One', sans-serif;
    background-color:#f2f2f2;
    color: black;
}

/*início header*/

.header_principal, footer {
    width: 100%;
    height: 80px;
    background-color:  #0D7877;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.header_titulo {
    font-size: 25px;
    color: white;
    font-weight: 200;
}

.menu {
    list-style: none;
    display: flex;
}

.menu_item a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: 200;
    font-size: 20px;
}

.menu-bar li {
    width: 100px;
    margin: 10px;
    padding: 5px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu .fas {
    margin-right: 8px;
}

/*fim header*/

/*início main*/

.header_  {
  width: 100%;
  height: 80px;
  background-color: hsl(179, 26%, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin-top: 10px;
}

.menu_hotel {
  width: 100%;
  height: 80px;
  background-color:   hsl(179, 26%, 60%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 15%;  
  margin-top: 10px;
  border-radius: 6px;
}

.hotel_menu {
  list-style: none;
  display: flex;
}

.menu_item a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  font-weight: 200;
  font-size: 20px;
}

.menu-bar li {
  width: 100px;
  margin: 10px;
  padding: 5px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: white;
}

.menu .fas {
  margin-right: 8px;
}

img {
  width: 45%;
}
.renaissance {
  max-width:100%;
	height:auto;
}

.container {
    width: 90%;
    margin: 0 7px;
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 26%, 60%);
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;    
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
  }

.form {
    margin-top: 15px;
    width: 100%;
    height: 25%x;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 16px ;
}

p {
  text-align: center;
}

.conteudo {
    width: 100%;
    height: 25%x;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px ;    
}

.box {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(179, 26%, 60%);
    border-radius: 15px;
    padding: 5px;
}

.box_titulo {
    font-size: 25px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.box_paragrafo {
    margin: 15px 0 25px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.box_link {
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;;
    color:white;
    font-size: 17px;
    background-color: #014141;
    border: 1px transparent solid;
    padding: 4px 4px;
    border-radius: 6px;
}

.box_link:hover {
    background-color: white;
    color: black;
}

.hoteis {
    display: flex; 
    justify-content: space-between;     
}

.checked {
    color: #014141;
}

.img_hoteis {
    height: 25%;
    width: 25%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
}

.a_hoteis {
    text-decoration: none;
    color: white;
}

.a_hoteis:hover {
    color: #014141;
}

.nota {
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;;
    color:white;
    font-size: 17px;
    background-color: #014141;
    border: 1px transparent solid;
    padding: 4px 4px;
    border-radius: 6px;
}

.imagens {
  display: flex;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  width: 100%;
  }

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

h4 {
  text-decoration: underline;
  color:  #014141; 
}

th {
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}






