@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pathway+Gothic+One&display=swap');

*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.menu-bar {
    text-align: right;
    background-color: #0D7877;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;    
}

.menu-bar li {
    width: 100px;
    margin: 10px;
    padding: 5px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.active, .menu-bar ul li:hover 
{
    background: #014141;
    border-radius: 3px;
}

.menu-bar .fas {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #014141; 
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: gray;
}

h1, h2 {
    font-family: 'Pathway Gothic One', sans-serif; 
    text-align: center;
    color: #014141;   
}

.container {
    display: flex;
}

.form {
    display: block;
    text-align: center;    
    margin-top: 30px;
    margin-left: 60px;
    word-spacing: 3px;
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

img {
    width: 600px;
    margin-left: 30px;
    margin-top: 30px;
}

button {
    font-family: 'Pathway Gothic One', sans-serif;;
    color:white;
    font-size: 17px;
    background-color: #014141;
    border: 1px transparent solid;
    padding: 4px 4px;
    border-radius: 6px;
}